<header class="flex w-full items-center bg-typo py-[20px]">
  <div class="container flex flex-wrap items-center justify-between gap-y-3 space-x-3">
    <a href="/">
      <img src="./img/logo.svg" alt="Logo" class="h-[34px] w-[137px] object-contain sm:h-[46px] sm:w-[220px]" />
    </a>
    <nav class="hidden lg:block">
      <ul class="flex items-center space-x-[56px]">
        <li>
          <a href="#services" class="text-white transition-colors hover:text-primary">Послуги</a>
        </li>
        <li>
          <a href="#about" class="text-white transition-colors hover:text-primary">Про нас</a>
        </li>
        <li>
          <a href="#comments" class="text-white transition-colors hover:text-primary">Відгуки</a>
        </li>
        <li>
          <a href="#contacts" class="text-white transition-colors hover:text-primary">Контакти</a>
        </li>
      </ul>
    </nav>
    <a href="https://t.me/tsc_gov" class="group flex items-center gap-x-2 sm:gap-x-4">
      <img src="./img/tg-full.svg" alt="Офіційний TG" class="size-[30px] sm:size-[55px]" />
      <div class="sm:space-y-[5px]">
        <p class="text-[10px] text-gray-400 sm:text-xs">Офіційний TG</p>
        <p class="max-sm:text-xs font-bold text-white transition-colors group-hover:text-primary">Зв'язатися з нами</p>
      </div>
    </a>
  </div>
</header>
